---
import "../styles/global.css"
import Recorder from "../components/old/Recorder.js";
import {selectedKnobPort} from "../knob/connection.ts";
import KnobSelector from "../components/input/KnobSelector.js";
import RecordingButton from "../components/old/RecordingButton.js";
import {GESTURE_NAME_LIST} from "../lib/constants.ts";
import CurrentExperimentMarker from "../components/old/CurrentExperimentMarker.js";
import ExperimentRemarks from "../components/old/ExperimentRemarks.js";
import GestureSelection from "../components/old/GestureSelection.js";
import {currentRunId} from "../lib/old/state.ts";
import MarkingButton from "../components/old/MarkingButton.js";
---

<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<link
        rel="icon"
        type="image/svg+xml"
        href="/favicon.svg"
    />
		<meta
        name="viewport"
        content="width=device-width"
    />
		<meta
        name="generator"
        content={Astro.generator}
    />
		<title>Astro</title>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.7/dist/htmx.min.js" integrity="sha384-ZBXiYtYQ6hJ2Y0ZNoYuI+Nq5MqWBr+chMrS/RkXpNzQCApHEhOt2aY8EJgqwHLkJ" crossorigin="anonymous"/>
    <script src="https://cdn.jsdelivr.net/npm/htmx-ext-sse@2.2.2"/>
  </head>
	<body class="p-8 h-screen" hx-ext="sse" sse-connect="/api/knob-data" sse-close="end" >
  <div class="flex justify-between items-center">
		<h1 class="mb-4 text-3xl font-bold">Data Collection Overview</h1>
    <CurrentExperimentMarker />
    <KnobSelector />
  </div>
    <div class="flex h-1/4 gap-2">
      <div class="min-w-1/4 h-full">
        <Recorder />
      </div>
      <GestureSelection />
    </div>
  <div class="flex">
    <div class="w-1/4">
      <h2 class="my-4 text-2xl font-bold">Recording</h2>
      <RecordingButton isRecording={false} disabled={!selectedKnobPort.value} />
      <MarkingButton />
    </div>
    <div class="w-3/4 p-2">
      <ExperimentRemarks />
    </div>
  </div>
  <div class="mt-4 border border-gray-800 rounded p-4 h-1/4 overflow-y-scroll">
    <div sse-swap="motor-rotation" hx-swap="outerHTML"></div>
  </div>
	</body>
</html>
